.*sw?
*.[oa]
*.out
*.o_pic
*.so
*.py[co]
*.diff
*.orig
*.rej
*.bak
*.aux
*.idx
*.ilg
*.ind
*.log
*.toc
*.pkg.tar.?z

tags

config.local.mk
cmd/menu/bindings.c
alternative_wmiircs/python/build/
alternative_wmiircs/python/dist/
